In [78]:
from textblob import TextBlob
import pandas as pd
import re
from googletrans import Translator

In [79]:
dataTwitter = open("C:/Users/hp/OneDrive/Documents/Belajar Pemrograman/sentimenAnalisis/dataset/dataTwitter", "r")
dataWeb = open("C:/Users/hp/OneDrive/Documents/Belajar Pemrograman/sentimenAnalisis/dataset/dataWeb", "r")

dataTwitter = dataTwitter.readlines()
dataWeb = dataWeb.readlines()

In [80]:
dfTwit = pd.DataFrame({"Sentimen":dataTwitter})
dfWeb = pd.DataFrame({"Sentimen":dataWeb})

df = pd.concat([dfWeb,dfTwit])
df = df.reset_index()
df = df.drop_duplicates().drop(["index"],axis=True)
df

                                              Sentimen
0    Tampilkan Dua Unit Special Display Kendaraan L...
1    Gampang Didandani, Ini Inspirasi Modifikasi Wu...
2    Bisa Jadi Inspirasi, Ini Konsep Modifikasi Wul...
3    Mobil Listrik Paling Banyak Dibeli di Awal 202...
4    Bukan Lawan Wuling Air EV Cs, Alasan Mitsubish...
..                                                 ...
362  RT Caranya 1 Follow Like RT 2 Cari Jawaban di ...
363  Wuling Air ev sudah dilengkapi dengan IoV Inte...
364  RT Caranya 1 Follow Like RT 2 Cari Jawaban di ...
365  RT Caranya 1 Follow Like RT 2 Cari Jawaban di ...
366  Hi Teknologi Wuling yang hadir pada AIR EV ada...

[367 rows x 1 columns]

In [81]:
df["Sentimen"] = df["Sentimen"].apply(lambda x: ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",x).split()))
df_clean = []
for i in df["Sentimen"]:
    if i not in df_clean:
        df_clean.append(i)

In [82]:
df = pd.DataFrame({"Sentimen":df_clean})

In [83]:
df["Sentimen"] = df["Sentimen"].apply(lambda x: x.lower())

In [84]:
df_en = []
nomor = 0
for line in df["Sentimen"]:
    try:
        analisis = TextBlob(line)
        analisis = analisis.translate(from_lang="id",to="en")
        df_en.append(analisis.sentiment.polarity)
        nomor += 1
    except Exception as e:
        print(e)
        print(nomor+1)

Translation API returned the input string unchanged.
147

In [86]:
hasilAnalisis = []
for line in df_en:
    if line < 0:
        hasilAnalisis.append("netral")
    elif line == 0:
        hasilAnalisis.append("negatif")
    else:
        hasilAnalisis.append("positif")
print(len(df))
df.drop(146,inplace=True)
df["jenis sentimen"] = hasilAnalisis

251

In [87]:
df

                                              Sentimen jenis sentimen
0    tampilkan dua unit special display kendaraan l...        positif
1    gampang didandani ini inspirasi modifikasi wul...        positif
2    bisa jadi inspirasi ini konsep modifikasi wuli...        negatif
3    mobil listrik paling banyak dibeli di awal 202...        positif
4    bukan lawan wuling air ev cs alasan mitsubishi...        negatif
..                                                 ...            ...
246  rt ingin juga tampil stylish dengan air ev yuk...        positif
247  rt sebagai penumpang ibu wini merasa senang se...        positif
248  wuling air ev sudah dilengkapi dengan iov inte...        positif
249  wuling air ev sudah dilengkapi dengan iov inte...        positif
250  hi teknologi wuling yang hadir pada air ev ada...         netral

[250 rows x 2 columns]